[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	ri = rebase -i
	st = status
	sb = show-branch
	ls = log --pretty=format:"%s"
	lo = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad\\ %Cblue[%an]\\ %Creset%s" --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[user]
	email = nzjachen@gmail.com
	name = Jason Chen
