[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	st = status
	sb = show-branch
	lo = log --pretty=format:"%s"
	ls = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad\\ %Cblue[%cn]\\ %Creset%s" --date=short
	ll = log --pretty=format:"%n\\ \\*\\ %C(yellow)%h\\ %Cgreen%ad\\ %Cblue[%cn]\\ %Creset%s%n\\ ...%Cred%d" --decorate --date=short --stat

[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
