[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[alias]
	br = branch
	ci = commit -m
	cm = commit --amend
	co = checkout
	lg = log --oneline
	lp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)<%an>%Creset'
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
