! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   
! modified: 
! vim: set fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

!==============================================================================
!Xresources and Xdefaults are user-level configuration dotfiles, typically
!located at ~/.Xresources and ~/.Xdefaults. They can be used to set X
!resources, which are configuration parameters for X client applications.
!
!They can do many operations, including:
!	defining terminal colours configuring terminal preferences setting DPI,
!	antialiasing, hinting and other X font settings changing the Xcursor theme
!	theming xscreensaver altering preferences on low-level X applications
!	(xclock (xorg-xclock), xpdf, rxvt-unicode, etc.) 
!
!You must re-run xrdb ~/.Xresources every time you change the file
!
!The syntax of an Xresources file is as follows:
!name.Class.resource: value
!==============================================================================

! terminal colors ------------------------------------------------------------
*background: #111111
*foreground: #babdb6

! xterm ----------------------------------------------------------------------
! xterm*background: #<alphanumeric>
! xterm*foreground: #<alphanumeric>

!xterm*geometry:           85x35

!English font
XTerm*faceName: DejaVu Sans Mono:antialias=True:pixelsize=16
!Chinese font
XTerm*faceNameDoublesize: WenQuanYi Zen Hei Mono:antialias=True:pixelsize=16

!fix alt key
xterm*eightBitInput: false
XTerm*metaSendsEscape: true

! copy and paste with clipboard
xterm*translations: #override \
Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! 256color
xterm*termName: xterm-256color

! allow selecting email/url by double-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

